.page-content {
    position: relative;

    .player-turn {
        color: red;
        font-weight: bold;
    }


    .game-header {
        text-align: center;
        h1, h3 {
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }

    .game-wrapper {
        display: flex;
        justify-content: center;
        height: 100%;

        .game-board-wrapper {
            height: 100%;
            display: inline-block;
        
            svg {
                display: block;
                margin-left: auto;
                margin-right: 30px;
            }
        }

        .chat-wrapper {
            width: 30%;
            display: inline-block;
            vertical-align: top;
        }
    }


    
    #background { 
        stroke: black; 
        stroke-width: 5px; 
        background-image: url("../../assets/images/ocean.jpg");
    }
    
    .player0   {
        fill: #990000;
        stroke: white; 
        stroke-width: 1px; 
        cursor:pointer; 
    }
    
    .player1 {
        fill: green; 
        stroke: white; 
        stroke-width: 1px;
        cursor:pointer; 
    }
    
    .htmlBlock {
        position:absolute;
        top:200px;
        left:300px;
        width:200px;
        height:100px;
        background:#ffc;
        padding:10px;
    }
    
    body{
        padding:0px;
        margin:0px;
    }
    .cell_white { 
        fill:white;
        stroke:red;
        stroke-width:2px;
    }
    .cell_black { 
        fill:black;
        stroke:red;
        stroke-width:2px;
    }
    text{
        pointer-events:none;
        user-select:none;
    }
}