<!DOCTYPE html>
<html lang="en">
    <head>
    <title>BATTLESHIP</title>
    </head>
    <body>
        <div class="game-board-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="900px" height="900px">
                <rect x="0px" y="0px" width="100%" height="100%" id="background"></rect>
                <!-- <ng-container *ngFor="let row of rows; let i = index"> -->
                <rect *ngFor="let cell of cellCollection"
                    [attr.width]= "75"
                    [attr.height]="75" 
                    [attr.x]="x" 
                    [attr.y] ="y" 
                    [attr.class]="cell" 
                    [attr.id]="" 
                    (click)="console.log('hi')">
                </rect>
                <!-- </ng-container> -->
                <text x="20px" y="20px" id="youPlayer" fill="orange">
                    You are red:
                </text>
                <text x="270px" y="20px" id="nyt" fill="red" display="none">
                    NOT YOUR TURN!
                </text>
                <text x="270px" y="20px" id="nyp" fill="red" display="none">
                    NOT YOUR PIECE!
                </text>
                <text x="520px" y="20px" id="opponentPlayer">
                    Opponent is green:
                </text>
                <text x="650px" y="150px" id="output">
                    cell id
                </text>
                <text x="650px" y="190px" id="output2">
                    piece id
                </text>

            </svg>
        </div>
    </body>
</html>