<nav></nav>
<div class="page-content">
    <h1>Welcome to Battleship!</h1>
    <div class="image-wrapper">
        <img *ngIf="!signup" src="../assets/images/battleship.jpg" />
        <img *ngIf="signup" src="../assets/images/boat.jpg" />
    </div>
    <div class="login-wrapper">
        <div *ngIf="!signup">
            <h3>Login</h3>
            <div>
                <p>Username:</p>
                <input id="username" type="email" [(ngModel)]="username"/>
            </div>
            <div class="password-wrapper">
                <p>Password:</p>
                <input id="password" type="password" [(ngModel)]="password"/>
            </div>
            <div>
                <button (click)="login({ username: username, password: password })">Login</button>
                <br />
                <button (click)="signup = true">Sign Up</button>
            </div>
        </div>
        <div *ngIf="signup">
            <h3>Signup</h3>
            <div>
                <p>Email:</p>
                <input id="username" type="email" [(ngModel)]="emailRegister"/>
            </div>
            <div>
                <p>Username:</p>
                <input id="username" type="email" [(ngModel)]="usernameRegister"/>
            </div>
            <div class="password-wrapper">
                <p>Password:</p>
                <input id="password" type="password" [(ngModel)]="passwordRegister"/>
            </div>
            <div>
                <button (click)="register({email: emailRegister, username: usernameRegister, password: passwordRegister})">Sign Up</button>
                <br />
                <button (click)="signup = false">Login</button>
            </div>
        </div>
    </div>
</div>

