<div class="chat-wrapper-comp">
        <textarea id="chat-area" readonly tabIndex="-1" #chatArea></textarea>
        <form (keydown)="sendMsg($event)">
            <input type="text" id="chatMsg" #msg placeholder="Type a message... Hit Enter to send"/>
        </form>
</div>
<div class="user-list-wrapper">
    <div class="user-list-header">
        <h2>Player List</h2>
    </div>
    <div *ngIf="users?.length > 0" class="user-list">
        <div class="player" (click)="challenge(user)" *ngFor="let user of users; let i = index">{{ user.username }}</div>
    </div>
</div>




